.header{
    display: flex;
    justify-content: center;
}

.dealerSection{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.CardsDelt{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.playerSection{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.playerButtons{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.gameSpace{
    display: block;
    justify-content: space-between;
}